@import '../colors.scss';

.about {
    width: 100vw;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    &__header {
        color: $primary-color;
        font-size: $text-medium;
        font-weight: 600;
    }   

    &__text {
        margin-top: $mtext-margin;
    }

    &__section {
        margin-bottom: $msection-margin;
    }

      .svg-anim {
        display: none;
    }
}

@media (min-width: $pc) {
    .about {
        display: flex;
        justify-content: center;
        align-items: center;

        .svg-anim {
            display: flex !important;
            justify-content: center;
            align-self: center;
            width: 50%;

            svg {
                width: 80%;
            }
        }

        .container {
            width: 50%;
        }

        .cont {
            width: 70%;
        }
    }
}