@import '../colors.scss';

.header {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__image {
        width: 65%;
    }

    &__text {
        font-size: $text-medium;
        text-align: center;
        font-weight: 600;

        &--primary {
            color: $primary-color;
        }

        @media (min-width: 770px) {
            font-size: $text-large;
        }
        

        @media (min-width: 1440px) {
            font-size: $text-xlarge;
        }
    }
}
