// Moon 

#Moon_2 {
    animation: moon 10s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

#Car {
    display: none;
}

#Spiral {
    animation: spiral 20s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes moon {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

@keyframes spiral {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(-360deg);
    }
}