$primary-color: #65da61;

//$primary-color: #61afda;

$text-xlarge: 32px;
$text-large: 26px;
$text-medium: 24px;
$text-normal: 18px;

$mtext-margin: 2vh;
$msection-margin: 5vh;

$tablet: 768px;
$pc: 1300px;