@import './colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import './components/';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.button {
    width: 75%;
    background-color: $primary-color;
    margin: auto;
    padding: 10px;
    border-radius: 25px;
    color: #f1f1f1;

    @media (min-width: 575px) {
        width: 60%;
    }

    @media (min-width: $tablet) {
        width: 50%;
    }
    
    @media (min-width: $pc) {
        width: 35%;
    }
}

.header {
    height: 100vh;
}

.primary {
    color: $primary-color; 
}

.logo-text {
    @media (min-width: $tablet) {
        font-size: $text-medium;
    }
    
    @media (min-width: $pc) {
        font-size: $text-xlarge;
    }
}


@media (min-width: 475px) {
    .logo {
        width: 50%;
    }
    
}

@media (min-width: $tablet) {
    .logo {
        width: 40%;
    }

    * {
        font-size: $text-medium;
    } 

    .title {
        font-size: $text-large; 
    }

    .cont {
        width: 50%;
    }
}

@media (min-width: $pc) {
    .logo {
        width: 25%;
    }

    .title {
        font-size: $text-xlarge;
    }

    .cont {
        width: 35%;
    }
}





